.headerImg{
    width:100%;
}
header{
    display:flex;
    justify-content: center;
    position : relative;
    flex-wrap: wrap;
}
header img{
    z-index:0;
    height:100%;
}
header h1{
    z-index:999;
    position : absolute;
    top:110px;
    font-size: 40px;
    color:white;

}